@model IList<Response>

<div class=" d-flex">
    <h4 style="color:brown">Gündem Haberler</h4>
    @foreach (var item in Model.Skip(Math.Max(0, Model.Count - 4)))
    {


            <a href="single.html">
                <img src="@item.primaryImage" class="img-fluid" alt="">
            </a>
            <h5 >
            <a href="single.html" style="color:brown">@item.TitleShort </a>
            </h5>

       


    }

</div>


<div>
  <h3>@Model.FirstOrDefault().Title</h3>
   
  @foreach (var item in Model.Skip(Math.Max(0, Model.Count - 4)))
    {

       <p>

          * @item.Spot

       </p>




    }

</div>

